body {
	background: #f8f8f8;
	text-align: left;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	color: #555;
	font-size: 12px;
	font-weight: 400;
}

strong { font-weight: 700; }
.red {
	color: #090;
}
a:hover { text-decoration: none; }

.header {
	margin: 0 auto;
	padding-bottom: 5px;
	background: #f8f8f8 url(../img/pattern.jpg) left top repeat;
	-moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #0C0;
}
.receipt {
	text-align: left;
	font-family: Cambria, serif, 'PT Sans', Helvetica, Arial, sans-serif;
	color: #000;
	font-size: 13px;
}
.logo h1 {
	padding-left: 50px;
	font-family: 'Cambria', cursive;
	font-size: 36px;
	font-weight: 400;
}

.logo h1 a { color: #555; }

.links {
    text-align: right;
}

.links a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 15px 0 0 20px;
}

.links a.home { background: url(../img/home.png) center center no-repeat; }
.links a.blog { background: url(../img/blog.png) center center no-repeat; margin-right: 50px; }

.register-container {
    margin-top: 50px;
}

/* ----- iPhone ----- */

.iphone {
    text-align: right;
}

.iphone img { margin-right: 10px; }

/* ----- Registration Form ----- */

.register form {
    padding: 20px 50px 40px 50px;
    background: #f8f8f8 url(../img/pattern.jpg) left top repeat;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    text-align: center;
}

.register form h2 {
	margin-bottom: 25px;
	padding-bottom: 15px;
	background: url(../img/pencil.png) 70px 6px no-repeat;
	border-bottom: 2px dotted #bbb;
	font-size: 30px;
	font-weight: 400;
	text-align: left;
}

.register form input {
    width: 95%;
    height: 30px;
    background: #fcfcfc;
    border: 1px solid #ddd;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    color: #888;
    font-size: 16px;
}

.register form input:focus {
    border: 1px solid #ccc;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.register form label {
    margin: 7px 0 10px 5px;
    font-size: 16px;
    text-align: left;
}

.register form label span {
    font-style: italic;
}

.register form input:-moz-placeholder { color: #aaa; }
.register form input:-ms-input-placeholder { color: #aaa; }
.register form input::-webkit-input-placeholder { color: #aaa; }

.register form button {
	cursor: pointer;
	width: 60%;
	height: 42px;
	margin-top: 25px;
	padding: 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 0;
	-moz-box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
	-webkit-box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
	box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,.1);

    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
	background-color: #C0C;
}

.register form button:hover {
    -moz-box-shadow: 0 -15px 30px 0 rgba(255,255,255,.05) inset;
    -webkit-box-shadow: 0 -15px 30px 0 rgba(255,255,255,.05) inset;
    box-shadow: 0 -15px 30px 0 rgba(255,255,255,.05) inset;
}

.register form button:active {
    -moz-box-shadow:
        0 -15px 30px 0 rgba(255,255,255,.05) inset,       
        0 5px 8px 0 rgba(0,0,0,.1) inset;
    -webkit-box-shadow:

        0 -15px 30px 0 rgba(255,255,255,.05) inset,       
        0 5px 8px 0 rgba(0,0,0,.1) inset;
    box-shadow:
        0 -15px 30px 0 rgba(255,255,255,.05) inset,       
        0 5px 8px 0 rgba(0,0,0,.1) inset;
}

.copyright {
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 10px;
	color: #fff;
	padding-right:15px;
	text-align:right;
}
.si_filters_links{
	display: inline-block;
	overflow: hidden;
	border: 1px solid #AAA;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	background: rgb(249,249,249);
	background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(224,224,224,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(100%,rgba(224,224,224,1)));
	background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(224,224,224,1) 100%);
	background: -o-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(224,224,224,1) 100%);
	background: -ms-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(224,224,224,1) 100%);
	background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%,rgba(224,224,224,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e0e0e0',GradientType=0 );
}
.si_filters_links A{
	float: left;
	border-left: 1px solid #ccc;
	display: inline-block;
	margin: 0;
	padding: 8px 10px;
	min-width: 30px;
	text-align: center;
	color: #333;
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);
}
.si_filters_links A:hover{
	color: #666;
    background: #e6e6e6;
}
.si_filters_links A.first{
	border-left: none;
}
.si_filters_links A.selected{
	background: #F5F5F5;
	color: #444;
	text-shadow:
		0px -1px 1px rgba(255,255,255,0.9),
		0px 1px 0px rgba(255,255,255,1);
}
.si_filters_links IMG{
	margin-right: 7px;
}
.si_filters_title{
	color: #AAA;
	line-height: 33px;
	margin: 0 10px;
    margin-top: 4px;
    vertical-align:top;
}

.si_filters_title a.cluetip img{
    margin-bottom: 8px;
}
.si_buttons_manage_invoices
{
    float:right;
    margin-right: 45px;
}
.si_buttons_invoice_header
{
    text-align:center;
}.top {
	font-size: 14px;
}

/* ----- Media queries ----- */

@media (max-width: 1200px) {

    .register form h2 { background: url(../img/pencil.png) 20px 6px no-repeat; }

}

@media (min-width: 768px) and (max-width: 979px) {

    .register form h2 { background: none; }

}

@media (max-width: 767px) {

    body { padding-left: 0; padding-right: 0; }

    .logo, .links { text-align: center; }

    .links { padding-bottom: 5px; }

    .logo h1 { padding-left: 0; }

    .links a.home { margin-left: 0; }

    .links a.blog { margin-right: 0; }

    .register-container { padding-left: 20px; padding-right: 20px; }

    .register form h2 { background: none; }

    .iphone img { display: none; }

}

@media (max-width: 480px) {

    .register form button { width: 97%; }

}
.msg {font-family: Tahoma, Geneva, sans-serif; font-size:14px; color:#F00;

}.stock {font-family: "Arial Black", Gadget, sans-serif; font-size:16px; color:#FFF;

}
